{% extends 'base.html' %}
{% load static %}
    
{% block css_files %}
   <link rel="stylesheet" href="{% static 'challenges/challenge.css'%}">
   <link rel="stylesheet" href="{% static 'challenges/includes/header.css'%}">
{% endblock %}

{% block page_title %}
    {{ month | title}} challenge
{% endblock %}

{% block content %}
   {% include "challenges/includes/header.html" with active_page="challenge"%}

    <h1>{{ month | title}} Challenge</h1>
    {% if text is None %}
           <p class="fallback">This month has not been assigned any challenge yet!</p>
    {% else %}
        <p class="fallback">{{ text }}</p>
    {% endif %}
{% endblock %}